.about{
color: #fff;
padding: 2rem;
@include respond(phone){
  display: flex;
  flex-direction: column;
  align-items: center;
}

  &-title{
    margin-bottom: 0;
    display: flex;
    width: fit-content;
    align-self:center;
    text-align: center;
&-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
    &-line{
      display: flex;
      background-color: $primary-color;
      color: $primary-color;
      margin: 0;
      width: 100px;
      height: 0.5rem;
      border-radius: 50px;
      border-color: $primary-color;
      text-align: center;
      align-self:center;
    }
   
  }
  &-skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    &-title{
      color: $dark-grey;
    }
    &-flex{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-start;
    }
    &-img{
      display:flex;
      padding: 1rem;
      margin-right: 2rem;
      margin-left: 2rem;
      background-color: #fff;
    }
  }
  &-skill-pill{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#fff;
   border: 3px solid $primary-color;
   color: $primary-color;
   font-weight: 700;
   margin-top:2rem;
   height: 4rem;
   margin-left: 1rem;
   margin-right: 1rem;
   width: 120px;
   &-txt{
     display: flex;
     font-size: 16px;
     align-self: center;
     justify-content: center;
   }
  }
}

.profile-img{
  width: 250px;
  margin-top: 2rem;
}