
.hero{
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("./assets/pece.jpg");

  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 1rem;
  text-align: left;
  &-title{
    text-align: left;
    margin-top: 8rem;
    padding-right: 3rem;
    padding-left: 3rem;
    &-text{
      color: #fff;
      padding-top:2rem;
      &-sub{
        color: #fff;
        width: 50%;
        margin-bottom: 0;
        margin-left: 2.5rem;
        &-line{
          background-color: $primary-color;
          color: $primary-color;
          width: 170px;
          margin: 0rem;
          height: 1px;
        }
      }
    }
  }
 &-button{
   
   background-color:#fff;
   border: 3px solid $primary-color;
   color: $primary-color;
   font-weight: 700;
   font-size: 20px;
   margin-top:2rem;
   height: 4rem;
   margin-left: 1.5rem;
&:hover{
  background-color:$primary-color;
color: #fff;
}
 }

}